/* You can add global styles to this file, and also import other style files */

body{
    background-color: rgb(50, 50, 50); /*37, 50, 229*/
}

:root {
  --content-background: #0f0f0f;
  --white-navbar: rgb(226, 226, 226);
  --white-faded: #e0e0e0;
  --grey-icons: #939393; 
  --black-dialog: #1c1c1c;   /*#131313 #303030 #151515 #1a1a1a */
  --white-dialog: #bcbcbc;
  --grey-what-project-background: #1c1c1c;
}

/*rever cor dialog box*/