.who-content {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  justify-content: center;
  align-items: center;
  background-color: var(--content-background);
  padding: 1em 2em;
  border-radius: 6px;
  position: relative;

}

.canvas-wrapper {
  position: relative;
  width: 80%;

  background-color: var(--who-canvas-wrapper-border);
  padding: 0.5rem 0.5rem;
  border-radius: 6px;
  margin-top: 1em;
  margin-bottom: 1em;
}


canvas {
  display: block;
  width: 100%;
  /* fill whole wrwaper*/
  height: 100%;
  pointer-events: none;

}

.canvas-overlay-image {
  position: absolute;

  height: auto;
    pointer-events: none; 
  z-index: 10;   
}

.overlay-image-bottom{
  bottom: 0.75em;
  right: 30px; 
  width: 3em;  
}

.overlay-image-center{
   left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width:4em;
}

@keyframes fadeBlink {
  0%, 100% { opacity: 0; }
  25%{opacity: 1;}
  50%{opacity: 0;}
  75%{opacity: 1;}
}

.hint-fade {
  animation: fadeBlink 4s forwards;
}

canvas.accepting-clicks {
  cursor: pointer;
  pointer-events: auto;
}

/* height: 74vh; 480px*/
.background {
  background-image: url("/bkg5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  justify-items: center;
  width: 100%;
  height: 65.5vh;
  transition: background-image 0.1s ease-in-out;
  /* on firefox doesnt work*/
  display: grid;
}

@media (orientation: landscape) and (hover: none) {

  /* increas cnavas height on mobile landscape*/
  .background {
    height: 93vh;
  }
}

.background-image-me {
  background-image: url("/bkg5me2.png");
  transition: background-image 0.1s ease-in-out;
}


.dialog-container {

  display: flex;
  flex-direction: column;
  align-items: flex-start; 

  
  position: absolute;
  bottom: 1em;
  left: 1em;
  right: 1em;
  font-family: 'Consolas', monospace; /*Incosolata - no letter spacing change,  Consolas*/
  letter-spacing: -0.7px;
  color: var(--white-dialog);
  pointer-events: none; 
  
}

.dialog-box {
  width: 100%;
  padding: 1em;
  background-color: var(--black-dialog);
  font-size: 1.2em;
  /* smallerin mobile, maybe---------------------------------------------*/
  border: 2px solid var(--who-dialog-border);
  border-radius: 6px;
  border-top-left-radius: 0px;
  box-sizing: border-box;
  

}

.dialog-box-name {
  margin-bottom: -1px;
  padding: 0.3em 0.9em;
  background-color: var(--black-dialog);
  border: 2px solid var(--who-dialog-border);
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 1.3rem;
}

.not-shown {
  display: none;
}

.dialog-text {
  margin: 0;
  white-space: pre-wrap;
}

.enter-animation {
  animation: slide-fade .5s;
  animation-fill-mode: backwards;
}
@keyframes slide-fade {
  from {
    opacity: 0;
   
  }
  to {
    opacity: 1;
   
  }
}
/*
.button-container {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1em;
}
*/

.button-container {
  position: absolute;
  bottom: 1.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: flex-start;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 97%;



}


.btn-resume {
  text-align: center;
  color: var(--white-dialog);
  border: 0.1em solid var(--who-dialog-border);
  border-radius: 4px;
  font-size: 1.2rem;
  font-family: 'Consolas', monospace;
    letter-spacing: -0.7px;
  padding: 0.5em 1.2em;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--black-dialog);
}

.btn-resume:hover {
border: 0.1em solid var(--who-button-hover-border);
  background-color: var(--white-faded);
  color: var(--who-button-hover-textcolor);
}

.footer {
  align-items: center;
  display: flex;
}

@media (max-width:768px) {

  /* fill whole screen*/
  .canvas-wrapper {
    width: 100%;
  }

  .dialog-box {
    font-size: 1em !important;
    letter-spacing: -0.1px;
    line-height: 1.2;
  }

  .dialog-box-name {
    font-size: 1.1em !important;
  }

  .btn-resume {
    font-size: 1.1em !important;
  }
}

@media (max-width:346px) and (orientation: portrait){

  .button-container {
gap: 0.2rem;
}
}