canvas {
  display: block;
  width: 100%;
  height: 390px; /* previously was 300, but zoom 130 led to 390px on desktop (not on mobile tho )- make innerheight on mobile landscape*/
  cursor: default;
}

