.footer-content{
    padding-top: 1em;
    padding-bottom: 1em;
}

.icon-link {
  color: var(--grey-icons);
  transition: color 0.3s ease;
}
.icon{ 
    height: 2em; 
}

@media (any-hover: hover) {
.icon-link:hover {
  color: var(--white-faded); 
}
}